*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/imgs
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/vcs.xml
